/.idea
/.tmp.drivedownload
/Competitive Programming
/Enigma_machine
/Five_short_NN_Classifiers
/Flappy_Bird
/Image_Classification(Rock,Paper,Scissors)
/Mathematics
/Python_Hangman
/Python_Sudoku_Solver
/Sentiment_Analysis(Positive&Negative Reviews)
/Shortest_path(A_star_python)
/Space_Invaders (Python)
/Titanic_Survival_Classfier
/Uni Scripts
/Weather_app
/Whatsapp_Chatbot